:root {
}
/* @font-face { */
/*   src: url("./fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Medium.ttf") format("truetype"); */
/*   font-family: "Barlow Semi Condensed"; */
/*   font-weight: 500; */
/* } */
/* @font-face { */
/*   src: url("./fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-SemiBold.ttf") format("truetype"); */
/*   font-family: "Barlow Semi Condensed"; */
/*   font-weight: 600; */
/* } */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  /* background-color: var(--grey-100); */
  /* font-family: "Barlow Semi Condensed"; */
  font-size: var(--body-text-size);
}
main {
  min-height: 100vh;
}
footer {
  display: block;
  padding: 5px;
  background-color: var(--footer-bg);
  color: var(--footer-fg);
  font-family: var(--footer-font);
  text-align: center;
  font-size: 0.9rem;
}
