:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
  --body-text-size: 13px;
  --footer-bg: var(--very-dark-grayish-blue);
  --footer-fg: var(--light-grayish-blue);
  --footer-font: Manrope;
  --info-container-spacing-y: 30px;
  --info-container-spacing-x: 40px;
  --share-btn-size: 30px;
  --share-links-width: 230px;
}
@font-face {
  src: url("./fonts/Manrope/Manrope-VariableFont_wght.ttf") format("truetype");
  font-family: Manrope;
  font-weight: 500 700;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--light-grayish-blue);
  font-family: Manrope;
  font-size: var(--body-text-size);
}
main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer {
  display: block;
  padding: 5px;
  background-color: var(--footer-bg);
  color: var(--footer-fg);
  font-family: var(--footer-font);
  text-align: center;
  font-size: 0.9rem;
}
footer > * {
  color: var(--footer-fg);
}

.card-container {
  display: grid;
  border-radius: 10px;
  background-color: white;
  position: relative;
}
.card-container > img {
  object-fit: cover;
}

.info-container {
  padding: var(--info-container-spacing-y) var(--info-container-spacing-x);
}
.info-primary {
  font-size: 1.5em;
  font-weight: 700;
  color: var(--very-dark-grayish-blue);
  padding-bottom: 10px;
}
.info-secondary {
  color: var(--desaturated-dark-blue);
  padding-bottom: 20px;
}

.share-container {
  display: flex;
}
.user-photo {
  height: 40px;
  width: 40px;
  border-radius: 50px;
}
.user-info {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.user-info > strong {
  color: var(--very-dark-grayish-blue);
}
.user-info > span {
  color: var(--grayish-blue);
}

input:checked ~ .share-links-container {
  pointer-events: all;
  background-color: var(--very-dark-grayish-blue);
}
.share-links-container {
  background-color: var(--very-dark-grayish-blue);
  position: absolute;
  display: flex;
  pointer-events: none;
  align-items: center;
  gap: 15px;
  color: white;
}
.share-links-container > * {
  user-select: none;
}
.share-links-container > span {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 500;
  color: var(--grayish-blue);
}
.share-links-container > img {
  cursor: pointer;
}

input:checked ~ .share-btn {
  background-color: var(--desaturated-dark-blue);
  color: var(--light-grayish-blue);
}
.share-btn {
  padding: 5px;
  height: var(--share-btn-size);
  width: var(--share-btn-size);
  outline: none;
  border: none;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-grayish-blue);
  color: var(--desaturated-dark-blue);
  align-self: center;
  cursor: pointer;
  margin-left: auto;
  z-index: 20;
}

@media(max-width: 375px) {
  main {
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 0 30px;
  }
  .card-container {
    grid-template-columns: 100%;
  }
  .card-container > img {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 200px;
  }
  .info-primary {
    font-size: 1rem;
  }
  input:checked ~ .share-links-container {
    opacity: 1;
    bottom: 0px;
    border-radius: 0 0 12px 12px;
  }
  .info-container {
    padding-bottom: 10px;
  }
  .share-links-caret {
    display: none;
  }
  .share-links-container {
    padding: 20px var(--info-container-spacing-x);
    bottom: -50px;
    opacity: 0;
    right: 0;
    left: 0;
    justify-content: left;
    border-radius: 0;
    transition-property: bottom,opacity,border-radius ;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    z-index: 10;
  }
}
@media(max-width: 1080px) and (min-width: 376px) {
  .card-container > img {
    border-radius: 10px 0 0 10px;
  }
  .card-container {
    grid-template-columns: 300px 430px;
  }
  .card-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .share-links-container > span {
    writing-mode: vertical-lr;
  }
  .share-links-container {
    padding: 0 15px;
    flex-direction: column;
    bottom: calc(var(--info-container-spacing-y) - var(--share-links-width)/2 + var(--share-btn-size)/2 + 3px);
    right: calc(var(--info-container-spacing-x) + var(--share-btn-size) + 20px);
    height: var(--share-links-width);
    border-radius: 12px;
    justify-content: center;
    box-shadow: 0px 5px 10px 0px color-mix(in srgb, var(--very-dark-grayish-blue) 30%, transparent 100%);
    transition: opacity 200ms ease-in-out;
    opacity: 0;
  }
  .share-links-caret {
    height: 15px;
    width: 15px;
    position: absolute;
    right: -7px;
    transform: rotate(45deg);
    background-color: var(--very-dark-grayish-blue);
  }
  input:checked ~ .share-links-container {
    opacity: 100;
  }
}
@media(min-width: 1080px) {
  .card-container > img {
    border-radius: 10px 0 0 10px;
  }
  .card-container {
    grid-template-columns: 300px 430px;
  }
  .card-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .share-links-container {
    padding: 15px 0;
    bottom: calc(var(--info-container-spacing-y) + var(--share-btn-size) + 30px);
    right: calc(var(--info-container-spacing-x) + var(--share-btn-size)/2 - var(--share-links-width)/2);
    width: var(--share-links-width);
    border-radius: 12px;
    justify-content: center;
    box-shadow: 0px 5px 10px 0px color-mix(in srgb, var(--very-dark-grayish-blue) 30%, transparent 100%);
    transition: opacity 200ms ease-in-out;
    opacity: 0;
  }
  .share-links-caret {
    height: 15px;
    width: 15px;
    position: absolute;
    bottom: -7px;
    transform: rotate(45deg);
    background-color: var(--very-dark-grayish-blue);
  }
  input:checked ~ .share-links-container {
    opacity: 100;
  }
}
