:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --grey-500: hsl(234, 12%, 34%);
  --grey-400: hsl(212, 6%, 44%);
  --white: hsl(0, 0%, 100%);
  --body-text-size: 15px;
  --footer-bg: var(--grey-500);
  --footer-fg: var(--white);
  --footer-font: Poppins;
}
@font-face {
  src: url("./fonts/Poppins/Poppins-ExtraLight.ttf") format("truetype");
  font-family: Poppins;
  font-weight: 200;
}
@font-face {
  src: url("./fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-family: Poppins;
  font-weight: 400;
}
@font-face {
  src: url("./fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
  font-family: Poppins;
  font-weight: 600;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--white);
  font-family: Poppins;
  font-size: var(--body-text-size);
}
main {
  padding: 80px 0;
  min-height: 100vh;
}
footer {
  display: block;
  padding: 5px;
  background-color: var(--footer-bg);
  color: var(--footer-fg);
  font-family: var(--footer-font);
  text-align: center;
  font-size: 0.9rem;
}

.product-header {
  text-align: center;
  padding-bottom: 20px;
}
.product-header > * {
  display: block;
}
.product-header > span {
  font-weight: 200;
  color: var(--grey-400);
}
.product-header > strong {
  font-weight: 600;
  color: var(--grey-500);
}

.product-description {
  font-size: 0.9em;
  text-align: center;
  padding: 0 10px 70px;
  color: var(--grey-500);
}
.feature-card > section {
  width: 350px;
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0 10px 20px 5px color-mix(in srgb, var(--grey-400) 20%, transparent 100%);
  border-top: 5px solid;
  padding: 20px 30px 40px;
}
.feature-card > section > h2 {
  padding-bottom: 10px;
  color: var(--grey-500);
}
.feature-card > section > article {
  color: var(--grey-400);
}
.feature-card > section > img {
  display: block;
  margin-left: auto;
  padding-top: 30px;
}

.four-card-container {
  display: grid;
  gap: 50px;
  justify-items: center;
}

@media(max-width: 720px) {
  .four-card-container {
    grid-template-columns: 1fr;
  }
  .product-description > p {
    display: inline;
  }
  .product-header {
    font-size: 1.5em;
  }
}
@media(min-width: 720px) and (max-width: 1280px) {
  .product-header {
    font-size: 2em
  }
  .product-description > p {
    display: block;
  }
  .four-card-container {
    padding: 0 50px;
    grid-template-columns: repeat(2, 1fr);
    width: fit-content;
    margin: 0 auto;
  }
}
@media(min-width: 1280px) {
  .four-card-container {
    padding: 0 40px;
    grid-template-columns: repeat(3, 1fr);
    width: fit-content;
    margin: 0 auto;
  }
  .feature-card:first-child {
    justify-self: right;
  }
  .feature-card:last-child {
    justify-self: left;
  }
  .feature-card:first-child,
  .feature-card:last-child {
    align-content: center;
    grid-row: 1/3;
  }
  .feature-card:last-child {
    grid-column: 3/4;
  }
}
